{% extends "base.html" %}

{% block title %}Consignment Item - ITH{% endblock %}

{% block content %}
<h1>Consignment Item</h1>

<table>
    <tr>
        <th>Customer</th>
        <td>{{ item.customer.customer_name }}</td>
    </tr>
    <tr>
        <th>Part</th>
        <td>{{ item.part.part_number }}</td>
    </tr>
    <tr>
        <th>Quantity</th>
        <td>{{ item.quantity }}</td>
    </tr>
</table>

<a href="{{ url_for('consignment_list.consignment_list') }}">Back to list</a>
{% endblock %}
